body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container
{
    width: 24%;
    height: 65vh;
    background: linear-gradient( #75888B , rgba(255, 255, 0, 0.295) , black);
    position: absolute;
    right : 10% ;
    top : 15vh ; 
    border-radius: 20px;
    border: 3px solid black ;
}

.image
{
width: 70%;
height: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 2% ;
border-radius: 100%;
background-image: url(../img/DSCF4614.JPG);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
border: 2px solid black;
box-shadow: 5px 5px 10px black;

}

.aboutme
{
    text-align: center;
height: 44%;

}

#a
{
    font-size: 150px;
    position: relative;
    text-transform: uppercase;
    left : 10% ;
    font-family: cursive;
    text-shadow: rgb(31, 31, 10) 1px 1px 30px ;
}

.container h1 
{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
 text-transform: uppercase;

 
}

h3{
   margin-top: 5vh;
   margin-bottom: 5vh;
   font-family: cursive;
}

.fa-brands
{
    font-size: 50px;
    margin: 10px;
    color: yellow;
}